.title {
	text-align:center;
	font-size:50px;
	color: #fff;
}
.correct {
	color:green;
}

.incorrect {
	color:red;
}

h1.correct, h1.incorrect {
	width:250px;
}

body {
	background-image: url(../img/pulpfiction.jpg)
}

.form-group h4 {
	color: #fff;
}